@use '../../styles/mixins' as *;
@use '../../styles/colors' as *;

.nav {
    @include flexRow;
    justify-content: space-between;
    padding: 1rem 2rem;
    &__log {
        @include flexRow;
        gap: 1rem;
    }
    &__button {
        padding: 0.7rem;
        background-color: transparent;
        color: white;
        border: 0;
        font-size: 1.125rem;
    }
    &__highlight {
        width: 9.375rem;
        background-color: $ButtonColor;
        border-radius: .3125rem;
        padding: 1rem;
    }
    &__highlight:hover {
        background-color: $HoverColor;
        transition: 1s;
    }
}
.navigation {
    @include flexRow;
 
    gap: 2rem;
    &__header {
        font-size: 3rem;
    }
    &__link {
        font-size: 1.125rem;
    }
    &__link:hover {
        scale: 1.1;
        transition: 1s;
        text-decoration: underline;
    }
}